:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(../images/caret_down.svg);
    --option-bg: #333;
    --select-bg: rgba(255, 255, 255, 0.2);
  }
  * {
    box-sizing: border-box;
  }
  /* <select> styles */
  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font-family: Asap, Arial, Helvetica, sans-serif;
    background-color: var(--option-bg)!important;
    /* Personalize */
    width: 15rem;
    height: 30px;
    padding: 1px 1px 1px 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }
