[data-theme^="purple"],
[data-theme] [data-theme^="purple"] {
    --main-color: #dac7ea;
    --background-color: #251135;
    --title-color: #dac7ea;
    --title-background-color: #3d1b56;
    --help-color: #6a3aa5;
    --sidebar-background-color: #220d31;
    --sidebar-hover-color: rgba(0, 0, 0, 0.3);
    --icon-active-color: #dac7ea;
    --icon-hover-color: #c090fa;
    --icon-background-color: #6a3aa5;
    --control-background-color: #3d1b56;
    --control-border-color: #6a3aa5;
    --slider-thumb-color: #c090fa;
    --slider-thumb-focus-color: #dac7ea;
    --slider-track-color: rgba(255, 255, 255, 0.1);
    --slider-track-focus-color: rgba(255, 255, 255, 0.2);
    --button-color: #dac7ea;
    --button-background-color: #6a3aa5;
    --button-disabled-color: rgba(255, 255, 255, 0.2);
    --button-disabled-background-color: #251135;

}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"] {
    --main-color: #d4d4d4;
    --background-color: #1e1e1e;
    --title-color: #cccccc;
    --title-background-color: #252526;
    --help-color: #5d5d5d;
    --sidebar-background-color: #141414;
    --sidebar-hover-color: rgba(0, 0, 0, 0.3);
    --icon-active-color: #0084ff;
    --icon-hover-color: #006dd9;
    --icon-background-color: #787878;
    --control-background-color: #252526;
    --control-border-color: #5d5d5d;
    --slider-thumb-color: #006dd9;
    --slider-thumb-focus-color: #46a6ff;
    --slider-track-color: rgba(255, 255, 255, 0.1);
    --slider-track-focus-color: rgba(255, 255, 255, 0.2);
    --button-color: #e0e0e0;
    --button-background-color: #006dd9;
    --button-disabled-color: #7f7f7f;
    --button-disabled-background-color: #404040;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
    --main-color: #000000;
    --background-color: #ffffff;
    --title-color: #333333;
    --title-background-color: #dddddd;
    --help-color: #5d5d5d;
    --sidebar-background-color: #dddddd;
    --sidebar-hover-color: rgba(0, 0, 0, 0.1);
    --item-background-color: #094771;
    --icon-active-color: #0084ff;
    --icon-hover-color: #006dd9;
    --icon-background-color: #787878;
    --control-background-color: #eeeeee;
    --control-border-color: #dddddd;
    --slider-thumb-color: #006dd9;
    --slider-thumb-focus-color: #46a6ff;
    --slider-track-color: rgba(0, 0, 0, 0.1);
    --slider-track-focus-color: rgba(0, 0, 0, 0.2);
    --button-color: #e0e0e0;
    --button-background-color: #006dd9;
    --button-disabled-color: #777777;
    --button-disabled-background-color: #cccccc;
}

#titlebar {
    display: block;
    position: fixed;
    padding: 4px;
    height: 28px;
    width: 100%;
    background-color: var(--title-background-color);
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

#window-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    text-align: center;
}

#window-title span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#window {
    height: calc(100% - 28px);
    margin-top: 28px;
    padding: 3px;
    overflow-y: auto;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(1, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: #e81123 !important;
}

#close-button:active {
    background: #f1707a !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#close-button {
    grid-column: 1;
}

@media (-webkit-device-pixel-ratio: 1.5),
    (-webkit-device-pixel-ratio: 2),
    (-webkit-device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

body {
    background: var(--background-color);
    color: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--control-background-color);
}

.sidebar {
    background-color: var(--sidebar-background-color);
}

.sidebar .sidebar-section {
    color: var(--icon-background-color);
}

.sidebar .sidebar-section .section-icon {
    background-color: var(--icon-background-color);
}

.sidebar .sidebar-section.active {
    color: var(--icon-active-color);
}

.sidebar .sidebar-section:focus {
    border: 2px solid var(--icon-hover-color);
}

.sidebar .sidebar-section:hover {
    background-color: var(--sidebar-hover-color);
}

.sidebar .sidebar-section.active .section-icon {
    background-color: var(--icon-active-color);
}

.group-label {
    color: var(--title-color);
}

.field-checkbox .checkbox-option .check-square {
    border: 1px solid var(--control-border-color);
}

.field-checkbox .checkbox-option .check-square:after {
    border: solid var(--control-background-color);
    border-width: 0 3px 3px 0;
}

.field-checkbox .checkbox-option input:focus ~ .check-square {
    border-color: var(--icon-active-color);
    border-width: 2px;
}

.field-checkbox .checkbox-option input:checked:focus ~ .check-square {
    border-color: var(--icon-active-color);
}

.field-checkbox .checkbox-option input:checked ~ .check-square {
    background-color: var(--icon-active-color);
    border-color: var(--icon-active-color);
}

.field-checkbox .checkbox-option:hover input:checked ~ .check-square {
    background-color: var(--icon-hover-color);
    border-color: var(--icon-hover-color);
}

.field-radio .radio-option:hover input ~ .check-circle {
    background-color: var(--sidebar-hover-color);
}

.field-radio .radio-option .check-circle {
    border: 1px solid var(--control-border-color);
}

.field-radio .radio-option .check-circle:after {
    border: 2px solid var(--control-background-color);
}

.field-radio .radio-option input:checked ~ .check-circle {
    background-color: var(--icon-active-color);
    border-color: var(--icon-active-color);
}

.field-radio .radio-option:hover input:checked ~ .check-circle {
    background-color: var(--icon-hover-color);
    border-color: var(--icon-hover-color);
}

.field-text input {
    color: var(--main-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--control-border-color);
}

.field-accelerator input {
    color: var(--main-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--control-border-color);
}

.field-dropdown select {
    color: var(--main-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--control-border-color);
}

.field-slider input::-webkit-slider-thumb {
    background: var(--slider-thumb-color);
}

.field-slider input:focus::-webkit-slider-thumb {
    background: var(--slider-thumb-focus-color);
}

.field-slider input {
    opacity: 1;
}

.field-slider input:hover {
    opacity: 0.85;
}

.field-slider input::-webkit-slider-runnable-track {
    background: var(--slider-track-color);
}

.field-slider input:focus::-webkit-slider-runnable-track {
    background: var(--slider-track-focus-color);
}

.group .field .help {
    color: var(--help-color);
}

.field-map {
    .ep-map-list-container {
        background-color: var(--control-background-color);
        border-color: var(--control-border-color);
        border: 1px solid var(--control-border-color);
    }

    .ep-map-empty {
        color: var(--help-color);
    }

    .ep-map-item {
        border-bottom-color: var(--control-border-color);

        &:hover {
            background-color: var(--slider-track-focus-color);
        }
    }

    .ep-map-item-key {
        color: var(--main-color);
    }

    .ep-map-item-separator {
        color: var(--help-color);
    }

    .ep-map-item-value {
        color: var(--title-color);
    }

    .ep-map-item-delete {
        color: var(--main-color);

        &:hover {
            color: var(--icon-active-color);
        }
    }

    .ep-map-input-group {
        .ep-map-input {
            color: var(--main-color);
            background-color: var(--control-background-color);
            border: 1px solid var(--control-border-color);
        }
        .ep-map-input::placeholder {
            color: var(--help-color);
        }

        .ep-map-input:focus {
            border-color: var(--icon-active-color);
            border-width: 2px;
        }
    }

    .ep-map-add-button {
        color: var(--button-color);
        background-color: var(--button-background-color);
        border-color: var(--control-border-color);
        &:active {
            color: var(--button-color);
            background-color: var(--button-background-color);
            border-color: var(--control-border-color);
        }

        &:disabled {
            color: var(--button-disabled-color);
            background-color: var(--button-disabled-background-color);
            border-color: var(--control-border-color);
            opacity: 0.7;
        }
    }
}
