/* Color Themes */

[data-theme^="purple"], [data-theme] [data-theme^="purple"] {
    --main-color: #dac7ea;
    --background-color: #251135;
    --link-color: #aa46f7;
    --title-color: #dac7ea;
    --title-background-color: #3d1b56;
    --item-background-color: #662d91;
    --status-color: #f2f2f2;
    --status-background-color: #662d91;
    --status-hover-color: #7e3ab3;
    --status-error-color: #912d70;
    --status-error-hover-color: #8d4c77;
    --status-warning-color: #cc6633;
    --status-warning-hover-color: #d4865f;
}

[data-theme^="light"], [data-theme] [data-theme^="light"] {
    --main-color: #000000;
    --background-color: #ffffff;
    --link-color: #0000ff;
    --title-color: #333333;
    --title-background-color: #dddddd;
    --item-background-color: #094771;
    --status-color: #f2f2f2;
    --status-background-color: #007acc;
    --status-hover-color: #1f8ad2;
    --status-error-color: #a80000;
    --status-error-hover-color: #a03131;
    --status-warning-color: #cc6633;
    --status-warning-hover-color: #d4865f;
}

[data-theme^="dark"], [data-theme] [data-theme^="dark"] {
    --main-color: #d4d4d4;
    --background-color: #1e1e1e;
    --link-color: #3e5763;
    --title-color: #cccccc;
    --title-background-color: #252526;
    --item-background-color: #094771;
    --status-color: #f2f2f2;
    --status-background-color: #007acc;
    --status-hover-color: #1f8ad2;
    --status-error-color: #a80000;
    --status-error-hover-color: #a03131;
    --status-warning-color: #cc6633;
    --status-warning-hover-color: #d4865f;
}

/* Style Definitions */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: var(--main-color);
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    outline: none;
}

.statusbar {
    overflow: hidden;
    background-color: var(--status-background-color);
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.statusbar span {
    float: left;
    display: block;
    color: var(--status-color);
    text-align: center;
    padding: 1px 4px;
    text-decoration: none;
    font-size: 12px;
}

.statusbarError {
    overflow: hidden;
    background-color: var(--status-error-color);
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.statusbarError span {
    float: left;
    display: block;
    color: var(--status-color);
    text-align: center;
    padding: 1px 4px;
    text-decoration: none;
    font-size: 12px;
}

.statusbarWarn {
    overflow: hidden;
    background-color: var(--status-warning-color);
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.statusbarWarn span {
    float: left;
    display: block;
    color: var(--status-color);
    text-align: center;
    padding: 1px 4px;
    text-decoration: none;
    font-size: 12px;
}

.statusIcons:hover {
    background-color: var(--status-hover-color);
}

.statusIconsError:hover {
    background-color: var(--status-error-hover-color);
}

.statusIconsWarn:hover {
    background-color: var(--status-warning-hover-color);
}

#display {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}