/* Color Themes */
[data-theme^="purple"],
[data-theme] [data-theme^="purple"] {
    --main-color: #dac7ea;
    --background-color: #251135;
    --link-color: #aa46f7;
    --title-color: #dac7ea;
    --title-background-color: #3d1b56;
    --status-color: #f2f2f2;
    --status-background-color: #662d91;
    --status-error-color: #912d70;
    --status-warning-color: #914d2d;
}
[data-theme^="light"],
[data-theme] [data-theme^="light"] {
    --main-color: #000000;
    --background-color: #ffffff;
    --link-color: #0000ff;
    --title-color: #333333;
    --title-background-color: #dddddd;
    --status-color: #f2f2f2;
    --status-background-color: #007acc;
    --status-error-color: #a80000;
    --status-warning-color: #cc6633;
}
[data-theme^="dark"],
[data-theme] [data-theme^="dark"] {
    --main-color: #d4d4d4;
    --background-color: #1e1e1e;
    --link-color: #3e5763;
    --title-color: #cccccc;
    --title-background-color: #252526;
    --status-color: #f2f2f2;
    --status-background-color: #007acc;
    --status-error-color: #a80000;
    --status-warning-color: #cc6633;
}
/* Style Definitions */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    color: var(--main-color);
    background-color: var(--background-color);
}
a {
    color: var(--link-color);
}
.statusbar {
    overflow: hidden;
    background-color: var(--status-background-color);
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    -webkit-user-select: none;
}
.statusbar span {
    float: left;
    display: block;
    color: var(--status-color);
    text-align: center;
    padding: 1px 4px;
    text-decoration: none;
    font-size: 12px;
}
#display {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
