<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>BrightScript Code Editor</title>
  <meta name="description" content="Simple Code Editor for playing with BrightScript language." />
  <meta name="author" content="Marcelo Lv Cabral" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/editor.css" />
  <link rel="stylesheet" href="css/codemirror.css" />
  <link rel="stylesheet" href="css/vscode-dark.css" />
  <link rel="stylesheet" href="css/fontello.css" />
  <link rel="stylesheet" href="css/code-selector.css" />
</head>

<body id="root" class="index-page">
  <main class="main-container editor">
    <div class="code">
      <div class="code-header">
        <div>
          <h4>Code &nbsp;
            <select id="code-selector">
              <option value="0">&lt;&lt; New Code &gt;&gt;</option>
            </select>
            <button title="Delete the Code" class="delete" style="visibility: hidden;">
              <i class="icon-trash"></i>
              <span>DELETE</span>
            </button>
          </h4>
        </div>
        <div>
          <button title="Run the Code" class="run">
            <i class="icon-play"></i>
            <span>RUN</span>
          </button>
          <button title="Save the Code" class="save">
            <i class="icon-save"></i>
            <span>SAVE</span>
          </button>
          <button title="Share the Code" class="share">
            <i class="icon-share"></i>
            <span>SHARE</span>
          </button>
        </div>
      </div>
      <div class="editor-wrapper">
        <textarea id="brsCode" placeholder="Loading..." spellcheck="false"></textarea>
      </div>
    </div>
    <div class="layout-separator"></div>
    <div id="right-container">
      <div class="simulator-display">
        <div class="display-header">
          <div>
            <h4>Display</h4>
          </div>
          <div>
            <label title="Audio Switch">
              <i class="icon-sound-on" id="audio-icon"></i>
              <input type="checkbox" checked id="audioSwitch" />
            </label>
            <label title="Keyboard control">
              <i class="icon-keyboard"></i>
              <input type="checkbox" id="keyboard" />
            </label>
            <label title="Gamepad control">
              <i class="icon-gamepad"></i>
              <input type="checkbox" checked id="gamepad" />
            </label>
            <button title="Pause and Debug" class="break">
              <i class="icon-pause"></i>
              <span>DEBUG</span>
            </button>
            <button title="End the Execution" class="end">
              <i class="icon-stop"></i>
              <span>END</span>
            </button>
          </div>
        </div>
        <canvas id="display" class="display"></canvas>
        <video id="player" crossorigin="anonymous"></video>
      </div>
      <div class="console">
        <div class="console-header">
          <div>
            <h4>Console</h4>
          </div>
          <div>
            <button title="Clear All Logs" class="clear-all">
              <i class="icon-trash"></i>
              <span>CLEAR</span>
            </button>
          </div>
        </div>
        <div id="console-logs" class="active"></div>
      </div>
    </div>
    <dialog id="code-dialog" class="modal_dialog" closed>
      <p class="modal_dialog_content">Enter the name of the code snippet:</p>
      <form method="dialog" id="code-form">
        <input type="text" name="codeName" class="modal_dialog_input" />
        <button value="ok">OK</button>
        <button value="cancel" class="modal_dialog_cancel">Cancel</button>
      </form>
    </dialog>
    <dialog id="delete-dialog" class="modal_dialog" closed>
      <p class="modal_dialog_content">Are you sure you want to delete this code?</p>
      <br />
      <form method="dialog">
        <button value="ok">Yes</button>
        <button value="cancel" class="modal_dialog_cancel">No</button>
      </form>
    </dialog>
  </main>
  <script src="../node_modules/toastify-js/src/toastify.js"></script>
  <script src="./lib/<%= brsApi %>"></script>
</body>

</html>