<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' data: blob: 'self';"> -->
        <title><%= appName %></title>
        <script>
            globalThis.__setTheme = () => {
                document.documentElement.setAttribute("data-theme", api.getTheme() || "purple");
            };
            __setTheme();
        </script>
        <link href="./css/solid.min.css" rel="stylesheet" />
        <link href="../node_modules/toastify-js/src/toastify.css" rel="stylesheet" />
    </head>
    <body>
        <div id="stats"></div>
        <canvas id="display"></canvas>
        <video id="player" crossorigin="anonymous"></video>
        <div id="status" class="statusbar" style="visibility: hidden">
            <span style="float: left"></span>
            <a href="#" tabindex="-1" title="Open Console"
                ><span id="statusDevTools" class="statusIcons">
                    <span style="float: left"><i class="fa fa-times-circle"></i></span>
                    <span id="statusError" style="float: left"></span>
                    <span style="float: left"><i class="fa fa-exclamation-triangle"></i></span>
                    <span id="statusWarn" style="float: left"></span> </span
            ></a>

            <span style="float: left"></span>
            <span id="statusIconFile" style="float: left"></span>
            <span id="statusFile" style="float: left"></span>

            <span style="float: left"></span>
            <span id="statusIconVersion" style="float: left"></span>
            <span id="statusVersion" style="float: left"></span>

            <a href="#" tabindex="-2" title="Mute on/off"
                ><span id="statusAudio" class="statusIcons" style="float: left; display: none">
                    <span style="float: left"></span>
                    <span id="statusIconAudio" style="float: left"></span>
                    <span style="float: left"></span> </span
            ></a>

            <span style="float: right"></span>
            <span id="statusDisplay" style="float: right"></span>
            <span style="float: right"><i class="fa fa-desktop"></i></span>

            <span id="statusSepRes" style="float: right"></span>
            <span id="statusResolution" style="float: right"></span>
            <span id="statusIconRes" style="float: right"></span>

            <span style="float: right"></span>
            <span id="statusLocale" style="float: right"></span>
            <span style="float: right"><i class="fa fa-globe-americas"></i></span>

            <span id="statusTelnet" style="float: right; display: none">
                <span style="float: right"></span>
                <span id="statusTelnetText" style="float: right"></span>
                <span style="float: right"><i class="fa fa-terminal"></i></span>
            </span>
            <a href="#" tabindex="-2" title="Show Device Info XML"
                ><span id="statusECP" class="statusIcons" style="float: right; display: none">
                    <span style="float: right"></span>
                    <span id="statusECPText" style="float: right"></span>
                    <span style="float: right"><i class="fa fa-server"></i></span> </span
            ></a>
            <a href="#" tabindex="-3" title="Open Web Installer">
                <span id="statusWeb" class="statusIcons" style="float: right; display: none">
                    <span style="float: right"></span>
                    <span id="statusWebText" style="float: right"></span>
                    <span style="float: right"><i class="fa fa-upload"></i></span> </span
            ></a>
        </div>

        <!-- SceneGraph Alpha Warning Dialog -->
        <div id="scenegraph-warning-dialog" class="modal-overlay" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-header">
                    <h3><i class="fa fa-exclamation-triangle" style="color: #f39c12; margin-right: 8px;"></i>BrightScript and SceneGraph Support</h3>
                </div>
                <div class="modal-content">
                    <p>This version of the Simulator can execute BrightScript language code compatible with Roku OS 15. It also includes experimental SceneGraph support which is currently in <strong>alpha stage</strong>.</p>
                    <p><strong>Please be aware of the following limitations:</strong></p>
                    <ul>
                        <li>SceneGraph components may not render correctly</li>
                        <li>Some SceneGraph features are not yet implemented</li>
                        <li>Apps may crash or behave unexpectedly</li>
                        <li>Check all <a href="https://github.com/lvcabral/brs-engine/blob/scenegraph/docs/limitations.md" target="_blank">current limitations</a> for more details</li>
                    </ul>
                    <p>🛠️ This simulator is intended for development purposes only. Always test your apps on actual Roku devices before release.</p>
                    <p>🤝 If you found issues or have suggestions, remember that this is an open source project, feel free to contribute!</p>
                </div>
                <div class="modal-footer">
                    <div class="modal-checkbox">
                        <label>
                            <input type="checkbox" id="dont-show-warning-again">
                            Don't show this warning again
                        </label>
                    </div>
                    <div class="modal-buttons">
                        <button id="close-scenegraph-warning" class="modal-button">I Understand</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="./lib/<%= brsApi %>"></script>
        <script src="../node_modules/toastify-js/src/toastify.js"></script>
    </body>
</html>
