<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' data: blob: 'self';"> -->
        <title><%= appName %></title>
        <script>
            window.__setTheme = () => {
                document.documentElement.setAttribute("data-theme", api.getTheme() || "purple");
            };
            __setTheme();
        </script>
        <link href="./css/solid.min.css" rel="stylesheet" />
        <link href="../node_modules/toastify-js/src/toastify.css" rel="stylesheet" />
    </head>
    <body>
        <div id="stats"></div>
        <canvas id="display"></canvas>
        <video id="player" crossorigin="anonymous"></video>
        <div id="status" class="statusbar" style="visibility: hidden">
            <span style="float: left"></span>
            <a href="#" tabindex="-1" title="Open DevTools"
                ><span id="statusDevTools" class="statusIcons">
                    <span style="float: left"><i class="fa fa-times-circle"></i></span>
                    <span id="statusError" style="float: left"></span>
                    <span style="float: left"><i class="fa fa-exclamation-triangle"></i></span>
                    <span id="statusWarn" style="float: left"></span> </span
            ></a>

            <span style="float: left"></span>
            <span id="statusIconFile" style="float: left"></span>
            <span id="statusFile" style="float: left"></span>

            <span style="float: left"></span>
            <span id="statusIconVersion" style="float: left"></span>
            <span id="statusVersion" style="float: left"></span>

            <a href="#" tabindex="-2" title="Mute on/off"
                ><span id="statusAudio" class="statusIcons" style="float: left; display: none">
                    <span style="float: left"></span>
                    <span id="statusIconAudio" style="float: left"></span>
                    <span style="float: left"></span> </span
            ></a>

            <span style="float: right"></span>
            <span id="statusDisplay" style="float: right"></span>
            <span style="float: right"><i class="fa fa-desktop"></i></span>

            <span id="statusSepRes" style="float: right"></span>
            <span id="statusResolution" style="float: right"></span>
            <span id="statusIconRes" style="float: right"></span>

            <span style="float: right"></span>
            <span id="statusLocale" style="float: right"></span>
            <span style="float: right"><i class="fa fa-globe-americas"></i></span>

            <span id="statusTelnet" style="float: right; display: none">
                <span style="float: right"></span>
                <span id="statusTelnetText" style="float: right"></span>
                <span style="float: right"><i class="fa fa-terminal"></i></span>
            </span>
            <a href="#" tabindex="-2" title="Show Device Info XML"
                ><span id="statusECP" class="statusIcons" style="float: right; display: none">
                    <span style="float: right"></span>
                    <span id="statusECPText" style="float: right"></span>
                    <span style="float: right"><i class="fa fa-server"></i></span> </span
            ></a>
            <a href="#" tabindex="-3" title="Open Web Installer">
                <span id="statusWeb" class="statusIcons" style="float: right; display: none">
                    <span style="float: right"></span>
                    <span id="statusWebText" style="float: right"></span>
                    <span style="float: right"><i class="fa fa-upload"></i></span> </span
            ></a>
        </div>
        <script src="./lib/<%= brsApi %>"></script>
        <script src="../node_modules/toastify-js/src/toastify.js"></script>
    </body>
</html>
