name: Build/release

on:
  push:
    branches:
      - master
      - dev-*
    tags:
      - '**'

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 22

      - name: Build/release Electron app for macOS
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        if: matrix.os == 'macos-latest'
        uses: johannesjo/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}
          mac_certs: ${{ secrets.mac_certs }}
          mac_certs_password: ${{ secrets.mac_certs_password }}
          build_script_name: "release"
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
          args: "--universal"

      - name: Build/release Electron app for other platforms
        if: matrix.os != 'macos-latest'
        uses: johannesjo/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}
          build_script_name: "release"
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
